<main>
   <div class="group-chart">
      <div class="card">
         <app-barchart-turnover></app-barchart-turnover>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima consectetur, non dolore voluptates beatae,
            rerum sed, voluptatum velit eum eligendi nam reprehenderit necessitatibus fuga. Impedit quod id corrupti.
            Mollitia, eveniet!</p>
      </div>
      <div class="card">
         <app-pie-chart class="pie-chart"></app-pie-chart>
         <app-pie-chart class="pie-chart"></app-pie-chart>
      </div>
   </div>
</main>